@charset "UTF-8";

@media only screen
  and (min-width: 1920px)
  and (max-width: 1920px)  {

div#box {
  width: 99%;
  height: 600px;
}

div.line {
    background-color: red;
    width: 99%;
    height: 5px;
}

span.l {
    margin-top: 10px;
    float: left;
    width: 47%;
}

span.m {
    margin-top: 10px;
    display: inline-block;
}

span.r {
    margin-top: 10px;
    float: right;
}

div.form {
    background-color: A7A1A0;
    margin-top: 17%;
    margin-left: 42%;
    width: 200px;
    border: solid;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

div.market {
    background-image: url("Unit.png");
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-left: 20%;
    min-width: 150px;
    height: 550px;
    opacity: .3;
}

div.shape {
    background-color: black;
    width: 320px;
    height: 150px;
    position: absolute;
    top: 120;
    left: 30;
    border-radius: 15px 0px 15px 0px;
}

div.nginx {
    background-color: bab5b4;
    width: 320px;
    height: 150px;
    position: absolute;
    top: 120;
    left: 78%;
    border-radius: 15px 0px 15px 0px;
}

div.view {
    margin-left: 30%;
    margin-top: 15%;
    width: 35%;
    border: solid;
    position: fixed;
    top: 0;
    left: 0;
}

div.error {
    position: absolute;
    top: 40%;
    left: 39%;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

div.del {
    margin-top: 15%;
    margin-left: 35%;
    width: 450px;
    background-color: bab5b4;
    text-align: right;
    border: solid;
    position: absolute;
    top: 0;
    left: 0;
}

div.tbl {
    display: table;
}

div.th {
    display: table-row;
}
div.tr {
    display: table-row;
}

div.td {
    display: table-cell;
    padding: 15px;
    text-align: center;
}

.tr:hover {
    background-color: eae6e5;
}
}

/* Screen Res: 1600 */

@media only screen
  and (min-width: 1600px)
  and (max-width: 1700px)  {

div#box {
  width: 99%;
  height: 600px;
}

div.line {
    background-color: red;
    width: 99%;
    height: 5px;
}

span.l {
    margin-top: 10px;
    float: left;
    width: 47%;
}

span.m {
    margin-top: 10px;
    display: inline-block;
}

span.r {
    margin-top: 10px;
    float: right;
}

div.form {
    background-color: A7A1A0;
    margin-top: 20%;
    margin-left: 42%;
    width: 200px;
    border: solid;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

div.market {
    background-image: url("Unit.png");
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-left: 17%;
    min-width: 150px;
    height: 550px;
    opacity: .3;
}

div.shape {
    background-color: black;
    width: 320px;
    height: 150px;
    position: absolute;
    top: 120;
    left: 30;
    border-radius: 15px 0px 15px 0px;
}

div.nginx {
    background-color: bab5b4;
    width: 320px;
    height: 150px;
    position: absolute;
    top: 120;
    left: 78%;
    border-radius: 15px 0px 15px 0px;
}

div.view {
    margin-left: 31%;
    margin-top: 15%;
    width: 35%;
    border: solid;
    position: fixed;
    top: 0;
    left: 0;
}

div.error {
    position: absolute;
    top: 40%;
    left: 39%;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

div.del {
    margin-top: 15%;
    margin-left: 35%;
    width: 450px;
    background-color: bab5b4;
    text-align: right;
    border: solid;
    position: absolute;
    top: 0;
    left: 0;
}

div.tbl {
    display: table;
}

div.th {
    display: table-row;
}
div.tr {
    display: table-row;
}

div.td {
    display: table-cell;
    padding: 15px;
    text-align: center;
}

.tr:hover {
    background-color: eae6e5;
}
}

/* Screen Res: 1440 */

@media only screen
  and (min-width: 1440px)
  and (max-width: 1550px)  {

div#box {
  width: 99%;
  height: 600px;
}

div.line {
    background-color: red;
    width: 99%;
    height: 5px;
}

span.l {
    margin-top: 10px;
    float: left;
    width: 47%;
}

span.m {
    margin-top: 10px;
    display: inline-block;
}

span.r {
    margin-top: 10px;
    float: right;
}

div.form {
    background-color: A7A1A0;
    margin-top: 23%;
    margin-left: 42%;
    width: 200px;
    border: solid;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

div.market {
    background-image: url("Unit.png");
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-left: 12%;
    min-width: 150px;
    height: 550px;
    opacity: .3;
}

div.error {
    position: absolute;
    top: 42%;
    left: 38%;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

div.shape {
    background-color: black;
    width: 320px;
    height: 150px;
    position: absolute;
    top: 120;
    left: 30;
    border-radius: 15px 0px 15px 0px;
}

div.nginx {
    background-color: bab5b4;
    width: 320px;
    height: 150px;
    position: absolute;
    top: 120;
    left: 73%;
    border-radius: 15px 0px 15px 0px;
}

div.view {
    margin-left: 30%;
    margin-top: 15%;
    width: 35%;
    border: solid;
    position: fixed;
    top: 0;
    left: 0;
}

div.del {
    margin-top: 15%;
    margin-left: 35%;
    width: 450px;
    background-color: bab5b4;
    text-align: right;
    border: solid;
    position: absolute;
    top: 0;
    left: 0;
}

div.tbl {
    display: table;
}

div.th {
    display: table-row;
}
div.tr {
    display: table-row;
}

div.td {
    display: table-cell;
    padding: 15px;
    text-align: center;
}

.tr:hover {
    background-color: eae6e5;
}
}
